*.csv
.ipynb_checkpoints
Refereces/Utile Dolis.pdf
Refereces/Analysis of Zomato Services using Recommender System Models.pdf
Refereces/Adithi - Literature Review Report.pdf
Refereces/Adithi - Final Report.pdf
zomato.csv.zip
DataAnalytics_ProjectGuidelines_2021.pdf
EDA/images/